<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/dispositivos.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <header>
        <div class="logo">
            <img class="logo" src="/images/simbolo_logo.png" alt="imagem logo">
        </div>
        <div >
            <p> Bem vindo </p>
        <a href="/logout">
        <button>Sair</button>
        </a>
        <a href="/">
            <button>Pagina Inicial</button>
            </a>
        </div>
        
    </header>
    <main>
        <p>Escolha um dispositivo</p>
        <section class="produtos">
            <div class="cards">
                <img src="/images/simbolo_logo.png" alt="imagem1">
                <div class="flag">
                    <p class="preco">Galpao 1</p>
                    <button class="comprar">Acessar</button>
                </div>
                <p>Monitoramento Temperatura e Humidade do Galpão de Distribuição 1</p>
            </div>
            <div class="cards">
                <img src="/images/simbolo_logo.png" alt="imagem2">
                <div class="flag">
                    <p class="preco">Area Embalagem</p>
                    <button class="comprar">Acessar</button>
                </div>
                <p>Monitoramento de Energia da Area de Embalagem</p>
            </div>
        </section>
    </main>
</body>
</html>