<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/dispositivos.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispositivos</title>
</head>
<body >
    <header>
        <div class="logo">
            <a href="/"><img class="logo" src="/images/simbolo_logo.png" alt="imagem logo"></a>
        </div>
        <div >
            <p> Bem vindo <%= usuario.nome %></p>
        <a href="/logout">logout </a>
        </div>
        
    </header>
    <main>
        <div class="cabecalho">
            <p>Escolha um dispositivo</p>
        </div>
        
        <section class="produtos">
            <div class="cards">
                <div class="espaco_imagem">
                    <img class="imagem_dispositivo" src="/images/simbolo_logo.png" alt="imagem1">
                </div>
                <div class="flag">
                    <p class="preco">Galpao 1</p>
                    <button class="comprar">Acessar</button>
                </div>
                <p>Monitoramento Temperatura e Humidade do Galpão de Distribuição 1</p>
            </div>
            <div class="cards">
                <div class="espaco_imagem">
                    <img class="imagem_dispositivo" src="/images/simbolo_logo.png" alt="imagem1">
                </div>
                <div class="flag">
                    <p class="preco">Area Embalagem</p>
                    <button class="comprar">Acessar</button>
                </div>
                <p>Monitoramento de Energia da Area de Embalagem</p>
            </div>
            <div class="cards">
                <div class="espaco_imagem">
                    <img class="imagem_dispositivo" src="/images/simbolo_logo.png" alt="imagem1">
                </div>
                <div class="flag">
                    <p class="preco">Chiller Produção</p>
                    <button class="comprar">Acessar</button>
                </div>
                <p>Monitoramento de entrada e saida de agua gelada</p>
            </div>
        </section>
    </main>
</body>
</html>