body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
  }
  
  button {
    margin: 10px;
    width: 100px;
    border-radius: 20px;
    background-color: gray;
    border: 1px solid white;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  
    
  a {
    color: #00B7FF;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: justify;
    margin: 20px 60px;
    background-color: rgb(90, 77, 77);
    color: white;
    width: 200px;
    border: blue solid 3px;
    height: 300px;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 13px -7px #aca7a7, 5px 5px 15px 5px rgba(163, 161, 161, 0);
  }
  
  .logo {
    height: 50px;
    width: auto;
  }
  
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .produtos {
    display: flex;
    margin: 20px 20px;
  }
  
  .imagem_dispositivo {
    height: 150px;
    width: 150px;
    
  }

  .espaco_imagem {
    padding: 10px 20px;
    justify-content: center;
  }

  .preco{
    margin: 0px;
    padding-left: 10px;
  }

  .cabecalho{
    font-size: 20px;
    font-weight: bold;
  }